{{#each messages}}
<div class="alert alert-dismissible alert-success">
    <button type="button" class="close" data-dismiss="alert">×</button>
    {{this}}
</div>
{{/each}}

<div class="page-header">
    <h1>Receptjeim</h1>
</div>

{{log model}}
{{recipe-list recipes=model}}

<p>
    <a href="/recipes/new" class="btn btn-default" id="newRecipeButton">Új recept hozzáadása</a>
</p>