<div class="container">
  <div class="btn-group col-md-offset-3">
    <ul class="nav nav-pills center-pills">
      <br>
      <li style="font-size: 24px">{{link-to "Főoldal" "index"}}</li>
      <li style="font-size: 24px">{{link-to "Regisztráció" "registration"}}</li>
      <li style="font-size: 24px">{{link-to "Receptek" "recipes.list"}}</li>
    </ul>
  </div>
  <div class="row">
      {{{outlet}}}
  </div>
</div>   